---
import Layout from "../layouts/Layout.astro";
import { Container, Image } from "react-bootstrap";
---

<Layout title="La Apuestada IV">
  <Container className="mt-3">
    <h1>Prepárate para la Apuestada IV</h1>
    <p>
      A más aciertes, mayor porcentaje del premio ganarás.
      <br />
      <a href="/votacion">
        <span> Haz tu porra </span>
        <Image className="ms-3" rounded width={100} src="/lvda.png" alt="" />
      </a>
    </p>
  </Container>
</Layout>
