---
import Layout from "../layouts/Layout.astro";
import { Container } from "react-bootstrap";
import ResutadosApuestada from "../components/ResutadosApuestada";
---

<Layout title="La Apuestada IV">
  <Container className="mt-3 text-center">
    <h1>Resultados</h1>
    <main transition:name="main">
      <ResutadosApuestada client:load />
    </main>
  </Container>
</Layout>
